body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:60px;
}
h1{
    font-size: 40px;
}
section{
    display: flex;
    margin-bottom: 80px;
} 
.yellow-color{
    color: rgb(255, 115, 0);
}
#border{
    border-left: 7px solid;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1;
}
.link-button{
    background-color:red;
    border-radius: 2px;
color: cornsilk;
font-weight: 400;
text-decoration:none ;
padding: 10px 30px;
}
.half-width{
    width: 50%;
    padding: 5%;
 
}
.half-width img{
    width:60%;
}  
.flexible-container{
    display: flex;
    border:10px;

} 
h2{
    text-align: center;}



.passion-area{
    box-shadow:10px 10px 5px yellowgreen;
     background-color: darkturquoise;
    width: 80%;
    height: 80%;
    margin: 5%;
   
}
.passion-area img{
    width: 50%;
}